nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    
    ul {
        display: flex;
        font-size: 24px;
        
        li {
            position: relative;
            padding: 30px 40px;
            display: flex;
            justify-content: center;

            p {
                margin-bottom: 10px;
                cursor: pointer;
            }
            .details {
                color: black;
                padding: 1em;
                box-sizing: border-box;
                position: absolute;
                min-width: 300px;
                opacity: 0;
                transition: all .5s ease-in-out;
                display: none;
                z-index: 2;
                top: 80px;
                font-size: 16px;
                line-height: 1.4em;
            }

            &.active .details {
                display: block;
            }
    
            &.active-2 .details {
                opacity: 1;
            }
        }
    }


    .nav-follower {
        color: black;
        border-radius: 5px;
        background: white;
        position: absolute;
        top: 79px;
        transition: all .2s linear;
        max-width: 300px;
        opacity: 0;
        z-index: 1;

        &.active {
            opacity: 1;
        }

        &:before {
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            width: 0; 
            height: 0; 
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 12px solid white;
            transform: translate(-50%, -95%);
            pointer-events: none;
        }
    }
}

header {
    .hero-img {
        width: 100%;
    }
    
    h1 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 56px;
        font-family: 'Poppins', sans-serif;
    }
}