nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    
    ul {
        display: inline-block;
        font-size: 24px;
        
        li {
            display: inline-block;        
            padding: 30px 40px;
        }
    }

    .details {
        color: black;
        border-radius: 5px;
        padding: 1em;
        background: white;
        position: absolute;
        top: 79px;
        transform: translate(-50%);
        transition: all .2s linear;
        max-width: 300px;
        display: none;

        &.active {
            display: block;
        }

        &.active-2 {
            opacity: 1;
        }

        &:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            width: 0; 
            height: 0; 
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 12px solid white;
            transform: translate(-50%, -95%);
        }
    }
}

header {
    .hero-img {
        width: 100%;
    }
    
    h1 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 56px;
        font-family: 'Poppins', sans-serif;
    }
}